/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        capsword {
            bindings = <&shift LEFT_SHIFT>;
            key-positions = <8 9>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <20 21>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <7 8>;
        };

        capslock {
            bindings = <&caps_word>;
            key-positions = <2 9>;
        };

        bac {
            bindings = <&kp BACKSLASH>;
            key-positions = <32 31>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        change_window1: change_window1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_WINDOW1";
        };

        change_window2: change_window2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp W>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_WINDOW2";
        };

        change_window3: change_window3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_WINDOW3";
        };

        change_window4: change_window4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp R>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_WINDOW4";
        };

        change_desktop1: change_desktop1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_DESKTOP1";
        };

        change_desktop2: change_desktop2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_DESKTOP2";
        };

        change_desktop3: change_desktop3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_DESKTOP3";
        };

        change_desktop4: change_desktop4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "CHANGE_DESKTOP4";
        };

        move_to_w1: move_to_w1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_W1";
        };

        move_to_w2: move_to_w2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_W2";
        };

        move_to_w3: move_to_w3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_W3";
        };

        move_to_w4: move_to_w4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_W4";
        };

        move_to_d1: move_to_d1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_D1";
        };

        move_to_d2: move_to_d2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_D2";
        };

        move_to_d3: move_to_d3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "MOVE_TO_D3";
        };

        toggle_sticky_app: toggle_sticky_app {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT>;

            label = "TOGGLE_STICKY_APP";
        };

        cib: cib {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp I &kp B>;

            label = "CIB";
        };

        cab: cab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp A &kp B>;

            label = "CAB";
        };

        ciq: ciq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp I &kp Q>;

            label = "CIQ";
        };

        caq: caq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp A &kp Q>;

            label = "CAQ";
        };

        cat: cat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp A &kp T>;

            label = "CAT";
        };

        cit: cit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp I &kp T>;

            label = "CIT";
        };

        dib: dib {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp I &kp B>;

            label = "DIB";
        };

        dab: dab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp A &kp B>;

            label = "DAB";
        };

        daq: daq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp A &kp Q>;

            label = "DAQ";
        };

        diq: diq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp I &kp Q>;

            label = "DIQ";
        };

        dat: dat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp A &kp T>;

            label = "DAT";
        };

        vyap: vyap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp V &kp Y &kp A &kp P>;

            label = "VYAP";
        };

        vyo: vyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp V &kp Y &kp O>;

            label = "VYO";
        };

        vyp: vyp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp V &kp Y &kp P>;

            label = "VYP";
        };

        vdb: vdb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp V &kp D &kp B>;

            label = "VDB";
        };

        ctrlu: ctrlu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRLU";
        };

        stab: stab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "STAB";
        };

        ctrld: ctrld {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRLD";
        };

        zz: zz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp Z &kp Z>;

            label = "ZZ";
        };

        change_word: change_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp W>;

            label = "CHANGE_WORD";
        };

        ciw: ciw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp C &kp I &kp W>;

            label = "CIW";
        };

        ctrl_h: ctrl_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp H>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRL_H";
        };

        ctrl_j: ctrl_j {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRL_J";
        };

        ctrl_k: ctrl_k {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRL_K";
        };

        ctrl_l: ctrl_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CTRL_L";
        };

        change_window1_mac: change_window1_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CHANGE_WINDOW1_MAC";
        };

        change_window2_mac: change_window2_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CHANGE_WINDOW2_MAC";
        };

        change_window3_mac: change_window3_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CHANGE_WINDOW3_MAC";
        };

        change_window4_mac: change_window4_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CHANGE_WINDOW4_MAC";
        };

        change_window5_mac: change_window5_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp N5>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "CHANGE_WINDOW5_MAC";
        };

        move_app_next_mac: move_app_next_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "MOVE_APP_NEXT_MAC";
        };

        move_app_prev_mac: move_app_prev_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "MOVE_APP_PREV_MAC";
        };

        tmux_next: tmux_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp L>;

            label = "TMUX_NEXT";
        };

        tmux_prev: tmux_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp H>;

            label = "TMUX_PREV";
        };

        dit: dit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D &kp I &kp T>;

            label = "DIT";
        };

        zt: zt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp Z &kp T>;

            label = "ZT";
        };

        zb: zb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp Z &kp B>;

            label = "ZB";
        };

        tmux_search: tmux_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp S>;

            label = "TMUX_SEARCH";
        };

        tmux_previous_session: tmux_previous_session {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp LEFT_PARENTHESIS>;

            label = "TMUX_PREVIOUS_SESSION";
        };

        tmux_next_session: tmux_next_session {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp RIGHT_PARENTHESIS>;

            label = "TMUX_NEXT_SESSION";
        };
    };

    behaviors {
        shift: shift {
            compatible = "zmk,behavior-sticky-key";
            label = "SHIFT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <(-1)>;
            quick-release;
        };

        layertap: layertap {
            compatible = "zmk,behavior-sticky-key";
            label = "LAYERTAP";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <(-1)>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <1 4 5 13 14 15 16 17 25 26 27 28 29 2 3 36 37 38 39 40 41>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <10 6 7 8 9 10 18 19 20 21 22 30 31 32 33 34 39 40 41 38 37 36>;
            hold-trigger-on-release;
        };

        vim_tap1: vim_tap1 {
            compatible = "zmk,behavior-tap-dance";
            label = "VIM_TAP1";
            #binding-cells = <0>;
            bindings = <&layertap 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
&none  &kp Q        &kp W            &kp F                &kp P              &kp B          &kp J      &kp L               &kp U                 &kp Y             &kp SEMICOLON  &none
&none  &hml LGUI A  &hml LEFT_ALT R  &hml LEFT_CONTROL S  &hml LEFT_SHIFT T  &lt 8 G        &kp M      &hmr RIGHT_SHIFT N  &hmr RIGHT_CONTROL E  &hmr RIGHT_ALT I  &hmr RGUI O    &none
&none  &kp Z        &kp X            &kp C                &kp D              &kp V          &kp K      &kp H               &kp COMMA             &kp DOT           &kp FSLH       &none
                                     &lt 4 BACKSPACE      &vim_tap1          &key_repeat    &kp ENTER  &lt 2 SPACE         &lt 7 BACKSPACE
            >;
        };

        numsym_layer {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH          &kp DOLLAR         &kp PERCENT          &kp CARET       &kp AMPERSAND         &kp ASTERISK           &kp MINUS      &kp PLUS   &trans
&trans  &kp EQUAL        &kp GRAVE    &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp SINGLE_QUOTE     &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS      &kp COLON  &trans
&trans  &kp GRAVE        &kp TILDE    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DOUBLE_QUOTES    &kp QUESTION    &kp LESS_THAN         &kp GREATER_THAN       &kp BACKSLASH  &kp PIPE   &trans
                                      &kp LGUI          &to 0              &kp ENTER            &layertap 5     &kp SPACE             &kp BACKSPACE
            >;
        };

        fun_layer {
            bindings = <
&trans  &kp EXCLAMATION  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0         &kp PRINTSCREEN  &kp CARET       &kp DOLLAR    &kp PAGE_DOWN  &kp PAGE_UP  &trans
&trans  &kp TAB          &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp C_VOLUME_UP      &kp LEFT_ARROW   &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT      &trans       &trans
&trans  &stab            &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp C_VOLUME_DOWN    &kp K_COPY       &kp K_PASTE     &trans        &trans         &trans       &trans
                                       &kp LGUI      &to 0         &kp SPACE            &trans           &trans          &trans
            >;
        };

        sys_layer {
            bindings = <
&trans  &kp F1        &kp F2        &kp F3             &kp F4           &kp F5          &kp F6     &kp F7                &kp F8                &kp F9   &kp F10  &trans
&trans  &bt BT_CLR    &kp K_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PP        &kp SLASH  &kp LEFT_BRACE        &kp RIGHT_BRACE       &kp F11  &kp F12  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2       &bt BT_SEL 3     &bt BT_SEL 4    &kp GRAVE  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans   &trans   &trans
                                    &trans             &to 0            &trans          &trans     &trans                &trans
            >;
        };

        qwerty_layer {
            bindings = <
&trans  &change_window1  &change_window2  &change_window3  &change_window4  &trans                &change_desktop1        &change_desktop2    &change_desktop3  &change_desktop4  &trans  &trans
&trans  &move_to_w1      &move_to_w2      &move_to_w3      &move_to_w4      &toggle_sticky_app    &ctrl_h                 &ctrl_j             &ctrl_k           &ctrl_l           &trans  &trans
&trans  &move_to_d1      &move_to_d2      &move_to_d3      &trans           &trans                &tmux_search            &tmux_prev          &tmux_next        &trans            &trans  &trans
                                          &trans           &to 0            &trans                &tmux_previous_session  &tmux_next_session  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &caq    &cab    &cat    &trans  &trans
&trans  &trans  &vyap   &vyo    &vyp    &vdb      &ciw          &ciq    &cib    &cit    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &change_word  &trans  &trans  &trans  &trans  &trans
                        &trans  &to 0   &trans    &layertap 6   &mo 3   &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &daq    &dab    &dat    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &diq    &dib    &dit    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &to 0   &trans    &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &stab   &kp TAB  &zt      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp B   &kp E    &kp W    &trans  &ctrld  &ctrlu  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans   &zb      &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &to 0    &zz      &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &kp ESC        &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp BACKSPACE  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans         &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans         &kp SPACE  &kp ENTER    &trans  &trans  &trans
            >;
        };
    };
};
